.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  width: 100%;
  color: white;
  text-align: left;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

/* mobile */
@media screen and (max-width: 768px) {
  .App {
      padding: 20px;
  }

  .App-header {
      text-align: center;
  }
}
